{% extends "base.html" %}

{% block content %}
    <div class="container py-3">
        <div class="col text-center">
            <h1 class="align-center">Add Task</h1>
        </div>
        {{ render_form(form, button_style="dark") }}
        <hr class="hr"/>
    </div>


    <div class="container custom-container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">To-Do List</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for task in task_list %}
                        <li class="list-group-item h5 p-3">

                            <input class="form-check-input" type="checkbox" name="done"
                                   value="{{ url_for("check_task", task_index=loop.index0) }}"
                                   id="flexCheckDefault" {{ "checked" if task['done'] == True }}
                                   onchange="window.location.assign({{ url_for('check_task', task_index=loop.index0) }})">

                            <span class="m-2" {% if task['done'] %}
                                  style="text-decoration: line-through; color: gray;" {% endif %}>
                                    {{ task.todo }}
                                </span>
                            <span class="due_date">
                                    {{ task.date }}
                                    </span>

                            <a class="m-1" href="{{ url_for('edit_task', task_index=loop.index0) }}">
                                <i class="bi bi-pencil-square"></i></a>
                            <a class="m-1" href="{{ url_for('delete_task', task_index=loop.index0) }}">
                                <i class="bi bi-trash text-danger"></i></a>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ super() }}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const redirectCheckboxes = document.querySelectorAll('input[name="done"]');

                redirectCheckboxes.forEach(function (checkbox) {
                    checkbox.addEventListener("change", function () {
                        if (this.checked || !this.checked) {
                            window.location.href = this.value;
                        }
                    });
                });
            });

        </script>
    {% endblock %}
{% endblock %}
